* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


header {
    height: 70px;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    align-items: center;
    width: 1440px;
    max-width: 90%;
    margin: auto;
    background-color: #FFFFFF;
}


header section.logo {
    font-size: 27px;
}
.blue-dot  {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #33C6DD;
    vertical-align: middle;
    }



ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 26px;
}
header nav ul li a {
    text-decoration: none;
    color: #3E3E3E;
    font-size: 15px;
    font-weight: 400;
}
header nav ul li a:hover {
    color: #33C6DD;
    /* transition: 0.5s ease; */
}

header nav ul li:first-of-type {
    margin-left: 0;
}
header nav ul li.menu {
    display: none;
}
.first-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Hero Section */
section.hero  {
    position: relative;
    width: 1920px;
    max-width: 100%;
}
.hero-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    left: 240px;
    top: 196px;
    bottom: 194px;
}

.hero-head {
    max-width: 495px;
    height: 112px;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 56px;
    margin-bottom: 20px;
}

.hero-par {
    max-width: 495px;
    height: 58px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    color: #FFFFFF;
}

.hero-but {
    background-color: #33C6DD;
    border-radius: 25px;
    border: 1px solid #33C6DD;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}
.hero-but:hover {
    color: #33C6DD;
    background-color: white;
    border: 1px solid #33C6DD;
    transition: 0.3s ease;
}


/* Best seller Section */

.best-seller .container {
    text-align: center;
    margin:0 auto;
}
.seller-head {
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 31px;
    margin-top: 89px;
}

.seller-content hr {
    height: 6px;
    width: 66px;
    background-color: #33C6DD;
    border: none;
    margin: auto;
    margin-bottom: 76px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    text-align: center;
}

span.new {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 5px 27px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #614DC9;
    border: 1px solid #614DC9;
    border-radius: 16px;
}

.card1 {
    position: relative;
    height: 561px;
    text-align: center;
    border-radius: 8px;
    width: 470px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    .smart-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 244px;
        margin: 0 auto;
        margin-top: 57px;
        margin-bottom: 53px;
        padding-right: 109px;
        padding-left: 109px;
    }
}

.card2 {
    position: relative;
    height: 561px;
    border-radius: 8px;
    text-align: center;
    width: 470px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    .head-image {
        width: 198px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 193px;
        margin: 0 auto;
        margin-top: 57px;
        margin-bottom: 99px;
        padding-right: 157px;
        padding-left: 115px;
    }
}

.card3 {
    height: 561px;
    width: 470px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    .camera-image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 277px;
        height: 198px;
        margin: 0 auto;
        margin-top: 41px;
        margin-bottom: 92px;
        padding-right: 124px;
        padding-left: 70px;
    }
    .price {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 5px;
        .discount {
            font-size: 16px;
            line-height: 24px;
            color: #9B9B9B;
            text-decoration: line-through;
        }
        h3 {
            color: #EC1C1C;
        }
    }
}
.cards h5 {
    margin-bottom: 9px;
    font-size: 14px;
    color: #33C6DD;
    font-weight: 400;
}
.cards h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}
.cards h3 {
    font-size: 28px;
    line-height: 30px;
    opacity: 0.7;
    font-weight: 400;
    text-align: center;
    margin-bottom: 19px;
}
.cards .add-but {
    border: 1px solid black;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 65px;
    background-color: #FFFFFF;
    margin-bottom: 43px;
}
.cards .add-but:hover {
    cursor: pointer;
    color: white;
    background-color: #33C6DD;
    border: 1px solid #33C6DD;
}

/* Newsletter Section */

section.newsletter {
    width: 955px;
    height: 292px;
    margin: 80px auto;
    background-color: #f5f5f5;
    text-align: center;
    .news-content {
        .news-head {
            padding-top: 72px;
            font-size: 24px;
            line-height: 42px;
            font-weight: 400;
        }
        .news-par {
            margin-top: 10px;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .formm {
        padding-top: 21px;
        input {
            padding: 14px 224px 14px 24px;
            border-radius: 25px 0px 0px 25px  ;
            color: #3E3E3E;
            font-size: 14px;
            line-height: 21px;
            border: 1px solid black;
            border-right: none;
        }
        button {
            padding: 14px 36px;
            border-radius: 0px 25px 25px 0px;
            background-color: #614DC9;
            border: 1px solid #614DC9;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
        }
        button:hover {
            color: #614DC9;
            background-color: white;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}

/* Footer style */

footer  {
    background-color: #3E3E3E;
    color: white;
    padding: 60px 0;
}

footer .container .contentt {
    width: 950px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

footer .container .contentt ul {
    list-style-type: none;
    width: 25%;
}
footer .container .contentt ul li.list-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}
footer .container .contentt ul li {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 24px;
}
footer .container .contentt ul li:last-of-type {
    margin-bottom: 0;
}
footer .container .contentt ul a {
    text-decoration: none;
    color: #FFFFFF;
}
footer .container .contentt ul a:hover {
    cursor: pointer;
    color: #33C6DD;
    transition: 0.3s ease;
}

section.copy {
    margin: 0 auto;
    text-align: center;
    background-color: #2B2B2B;
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 19px 0;    
}

/* ########################### */
/* Styles for smaller Desktop */
/* ########################### */

@media screen and (max-width: 1440px) {
    .container {
        width: 1440px;
        max-width: 90%;
    }
    section.hero  {
    width: 100%;
    max-width: 100%;
}
    .hero-image {
        width: 1440px;
    }
    .hero-image img {
    max-width: 100%;
    height: 616px;
}
    .hero-head {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 12px;
}

.hero-par {
    font-size: 16px;
    line-height: 24px;
}
.hero-but {
    width: 196px;
    margin-top: 12px;
}

.cards h5 {
    margin-bottom: 7px;
    font-size: 12px;
}
.cards h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
.cards h3 {
    font-size: 24px;
    margin-bottom: 6px;
}
.cards .add-but {
    font-size: 14px;
    padding: 10px 50px;
    margin-bottom: 33px;
}
 .price {
        .discount {
            font-size: 14px;
            line-height: 21px;
        }
    }

section.newsletter {
    width: 881px;
    height: 243px;
    margin: 70px auto;
}
.news-content {
        .news-head {
            padding-top: 50px;
            font-size: 22px;
        }
        .news-par {
            font-size: 14px;
            line-height: 21px;
        }
    }
    .formm {
        padding-top: 15px;
        input {
            padding: 14px 235px 14px 24px;
            border-radius: 30px 0px 0px 30px  ;
            font-size: 12px;
            line-height: 18px;
        }
        button {
            padding: 14px 41px;
            font-size: 12px;
            line-height: 18px;
        }
    } 

        footer  {
    padding: 50px 0;
    }

    footer .container .contentt {
        width: 1180px;
        max-width: 90%;
    }
    footer .container .contentt ul li.list-title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    footer .container .contentt ul li {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 21px;
    }

    section.copy {
    font-size: 14px;
    padding: 14px 0;    
}


}

/* ########################### */
/* Styles for Tablets */
/* ########################### */

@media screen and (max-width: 960px) {
    .container {
        width: 92;
        max-width: 92%;
    }
    header nav ul li {
    display: none
}
    header nav ul li.menu {
    display: inline-block;
}
    section.hero  {
    width: 92%;
    max-width: 92%;
}
    .hero-image {
        width: 960px;
    }
    .hero-image img {
    max-width: 100%;
    height: 620px;
}
    .hero-head {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 12px;
}

.hero-par {
    font-size: 16px;
    line-height: 24px;
}
.hero-but {
    width: 196px;
    margin-top: 12px;
}
.best-seller {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.seller-head {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 38px;
}
.seller-content hr {
    margin-bottom: 48px;
}
span.new {
    top: 6px;
    right: 6px;
    font-size: 11px;
    padding: 5px 14px;
}
.cards h5 {
    margin-bottom: 5px;
    font-size: 11px;
}
.cards h4 {
    font-size: 13px;
    margin-bottom: 7px;
}
.cards h3 {
    font-size: 16px;
    margin-bottom: 6px;
}
.cards .add-but {
    font-size: 12px;
    padding: 9px 39px;
    margin-bottom: 33px;
}
 .price {
        .discount {
            font-size: 9px;
            line-height: 30px;
        }
    }

section.newsletter {
    width: 100%;
    height: 243px;
    margin: 48px auto;
}
.news-content {
        .news-par {
            margin-bottom: 15px;
            margin-top: 10px;
        }
    }
    footer .container {
        width: 92%;
        max-width: 92%;
    }
}

/* ########################### */
/* Styles for Mobile */
/* ########################### */

@media screen and (max-width: 576px) {
    header section.logo {
        font-size: 18px;
    }
    .hero-image img {
        width: 576px;
        max-width: 100%;
    }

   .hero-content {
    position: initial;
    text-align: center;
}

      .hero-head {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
    margin-top: 26px;
    color: black;
}

.hero-par {
    display: none;
}
.hero-but {
    width: 196px;
    font-size: 14px;
    margin-bottom: 64px;
}
.best-seller {
    width: 92%;
    max-width: 92%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    text-align: center;
}

.seller-head {
    font-size: 24px;
    margin-bottom: 14px;
}
.seller-content hr {
    margin-bottom: 42px;
}
span.new {
    top: 9px;
    right: 8px;
    padding: 5px 14px;
}
.cards h5 {
    margin-bottom: 7px;
    font-size: 12px;
}
.cards h4 {
    font-size: 20px;
    margin-bottom: 6px;
}
.cards h3 {
    font-size: 16px;
    margin-bottom: 6px;
}
.cards .add-but {
    padding: 9px 62.5px;
    margin-bottom: 40px;
}
 .price {
        .discount {
            font-size: 11px;
        }
    }
  section.newsletter {
    width: 100%;
    height: 243px;
    margin: 64px auto;
    .news-content {
        .news-head {
            padding-top: 44px;
            font-size: 22px;
        }
        .news-par {
            margin-top: 10px;
            font-size: 14px;
            line-height: 21px;
        }
}  
.formm {
        padding-top: 16px;
        input {
            padding: 16px 118px 16px 24px;
            font-size: 12px;
            line-height: 18px;
        }
        button {
            padding: 16px 19px;
            font-size: 12px;
            line-height: 18px;
            
        }
}
  }
  footer .container  {
    padding: 48px 0;
    margin: 0 auto;
}

footer .container .contentt {
    width: 950px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}
footer .container .contentt ul {
    width: 100%;
}

footer .container .contentt ul li.list-title {
    font-size: 16px;
    margin-bottom: 12px;
}

footer .container .contentt ul li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}

section.copy {
    font-size: 14px;
    padding: 14px 0;    
}

}